#fullPuzzleVideo,
#fullPuzzlePhoto {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#piecePhoto,
#puzzlePieceVideo {
  position: fixed;
  left: 0;
  right: 0;
  max-width: 20%;
  max-height: 20%;
  z-index: 20;
}

#fullPuzzleButton {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  align-self: center;
  z-index: 5;
  margin: 0.5rem;
}

#spacePlacer {
  flex-grow: 1;
}

.hide {
  display: none;
}

.show {
  align-self: center;
  max-width: 20%;
  max-height: 20%;
}

#buttonImage {
  position: relative;
  height: 5rem;
  width: 5rem;
  right: 25%;
  bottom: 12.5%;
  border-radius: 50%;
  z-index: 5;
  margin: 0.5rem;
}
