#fullPuzzleVideo,
#fullPuzzlePhoto {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#fullPuzzleButton {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  align-self: center;
  z-index: 5;
  margin: 0.5rem;
}

#spacePlacer {
  flex-grow: 1;
}

.hide {
  display: none;
}
